.paddedSides {
  
  max-width: 1300px;
  margin: 0px  auto;
  width: 88%;
 
}
@media (max-width: 1024px) {
  .paddedSides {
    max-width: 1024px;
    margin: 0px  auto;
    width: 88%;
  }
}
@media (max-width: 900px) {
  .paddedSides {
    max-width: 900px;
   margin: 0px  auto;
  width: 88%;
  }
}

