.tab-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #f4f4f4;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0px;
  margin-bottom: 70px;
}

.tabs-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  overflow-x: auto;
}

.tabs-container {
  width: 100%;
  overflow-x: auto; 
  white-space: nowrap; 
  padding-bottom: 10px;

  scrollbar-width: none;
  margin: 0px; 
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.tabs {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  gap: 1px;
}

.tab {
  border: 0.5px solid #e5e5e5;
  display: inline-block;
  padding: 30px 75px;
  margin: 0 0px;
  font-size: 23px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: transform 0.6s ease, border 0.1s ease;
  z-index: 2;
  color: var(--themeColor);
  opacity: 50%;
}

.tab.active {
  border: none;
  background-color: transparent;
  transition: all 0.6s ease;
  color: var(--white);
  opacity: 1;
  z-index: 9;
}

.active-indicator {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: var(--themeColor);
  transition: transform 0.6s ease;
  border-radius: 5px;
  z-index: 3;
}
.tab-content {
  padding: 60px;
  display: flex;
}
.tab-content-wrapper {
  width: 100%;
  
  background-color: var(--bgdLight);
}
.tab-column1 {
  width: 50%;
  padding-right: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tab-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: var(--themeColor);
}
.tab-p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--generalText);
  margin: 10px 0px;
  text-align: left;
  opacity: 0.9;
}
.tab-column2 {
  width: 50%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
.tab-img {
  width: 100%;
  height: auto;
}
.toright {
  animation: moveRight 0.6s ease both;
}
.toleft {
  animation: moveLeft 0.6s ease both;
}
.accordion {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  flex-direction: column;
}
.accordion-container {
  display: none;
}

@keyframes moveRight {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1028px) {
  .tab-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .tab-column1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}



@media (max-width: 700px) {
  .tab-container {
    display: none;
  }
  .accordion-container {
    display: flex;
    flex-direction: column;
  }
  .accordion-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    z-index: 3;
  }
  .activetab {
    background-color: var(--themeColor);
    color: var(--white);
  }
  .accordion-content {
    height: 100%;
    background-color:var(--bgdLight);
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .tab-column1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
    padding: 10px;
  }
  .tab-column2{
    width: 90%;
  }
  .tab-img{
    width: 100%;
    height: auto;
   
  }
  .tab-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: var(--themeColor);
    text-align: center;
  }
  .tab-p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--generalText);
    margin: 10px 0px;
    text-align: left;
    opacity: 0.9;
    text-align: center;
  }
}
.tobottom {
  animation: tobottom 0.3s ease both;
  z-index: 1;
  transition: max-height 0.3s ease-out, display 0.3s ease-out;
}
.totop {
  animation: totop 0.6s ease both;
  z-index: 1;

  transition: max-height 0.2s ease-out, display 0.3s ease-out;
}
.accordion-icon {
 
  transform: rotate(180deg);
  transition: transform 0.6s ease;
  padding-top: 10px;
}
.active {
 
  transform: rotate(0deg);
}

@keyframes tobottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    max-height: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    max-height: 100%;
  }
}
@keyframes totop {
  0% {
    transform: translateY(0);
    opacity: 1;

    max-height: 100%;
  }

  100% {
    transform: translateY(-50%);
    opacity: 0;

    height: 0px;
    max-height: 0%;
    transition: max-height 0.6s ease-out;
  }
}
