.pop-content {
  font-size: 14;
text-transform: capitalize;
  line-height: 40px;
  /* padding: 10px 0px 0px 100px; */
  display: flex;
  width: 100%;
  justify-content: center;
}
.pop-heading {
  font-weight: 600;
  margin-right: 2.5rem;

}
.pop-tit{
    margin-right: 2.5rem;
}
