.carousalContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewBox {
 
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.carousalbox {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.cars-img {
  width: 40%;
  height: 100%;
}
.cars-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
