.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;
}
.dev_img {
  width: 45%;
  height: auto;
}
.heading {
  margin-top: 35px;
}
.deviceText {
  width: 60%;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .dev_img {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .dev_img {
    width: 55%;
  }
}
@media (max-width: 950px) {
  .dev_img {
    width: 70%;
  }
  .deviceText{
    width: 80%;
  text-align: center;
  margin-top: 10px;
  }
}
