:root {
  --white: #fff;
  --themeColor: #101420;
  --themeColor-light: #1c202b;
  --blackText: #020a19;
  --generalText: #333333;
  --bgdLight: #f7f7f7;
}

body {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  /* height: 100vh; */
width: 100vw;
  /* overflow-x: hidden; */
}
.mainContainer {
  /* height: 100vh; */
overflow-x: hidden;
  /* position: relative; */
}
.headerBox {
  position: "relative" !important;
  top: 0;
  left: 0;
  width: 100%;
}
.itemsCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  font-size: 40px;
  line-height: 38px;
  color: var(--blackText);
  font-weight: 800;
  text-align: center;
}
.general_text {
  font-size: 18px;
  line-height: 28px;
  color: var(--generalText);
}
@media (max-width: 900px) {
  .heading {
    font-size: 32px;
  }
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.w-100 {
  width: 100%;
}
.justify-center {
  justify-content: center;
}
