.h-title-text {
  font-size: 15px;
  font-weight: 400;
  /* line-height: 20px; */
  padding-left: 20px;
  text-transform: capitalize;
}
.h-title-small {
  font-size: 13px;
  font-weight: 500;
  /* line-height: 18px; */
  color: #637280;
  padding-left: 15px;
}
.h-title {
  cursor: pointer;
  transition: all 0.6s ease;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.h-popper {
  position: absolute;
  background-color: var(--white);
  color: var(--themeColor);

  z-index: 10;
}
.contentWidth {
  width: auto;
  padding: 1rem;
}
.arrowStyle {
  margin-left: 5px;
}
.smallarrow {
  margin-bottom: 2px;
}
.fullwidth {
  width: 100vw;
  left: 0;
  padding: 3rem;
}
.down {
  transform: rotate(180deg);
  transition: all 0.6s ease;
}
.animteDown {
  animation: dropdown 0.6s backwards;
  transition: all 0.6s ease;
}
@keyframes dropdown {
  0% {
    transform: translateY(0);
    opacity: 0;
    max-height: 0%;
  }
  100% {
    opacity: 1;
    max-height: auto;
  }
}
